{% extends 'layout.html' %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
    <div class="row">
        <!-- Main Content Column -->
        <div class="col-lg-8">
            <h1 class="mb-4">О нас</h1>

            <div class="post-content" bis_skin_checked="1">
                <p>“Коалиция по готовности к лечению” – это движение людей, объединенных&nbsp;общей целью – добиться
                    всеобщего доступа к препаратам для лечения ВИЧ и сопутствующих заболеваний, в первую очередь
                    туберкулеза и гепатита С.</p>
                <p>Коалиция была основана в марте 2003 года. С 2005 года “Коалиция” начала свою работу в регионе
                    Восточная Европа и Центральная Азия (ВЕЦА). По состоянию на 01.08.2023 года география деятельности
                    включает в себя следующие страны:<span class="Apple-converted-space">&nbsp; </span>Армения,
                    Беларусь, Грузия, Молдова, Кыргызстан, Казахстан, Таджикистан, Узбекистан и Украина.</p>
                <p><strong>Основной принцип работы “Коалиции”</strong> – максимальное вовлечение людей, живущих с ВИЧ, и
                    защитников их интересов в процесс принятия любых решений, касающихся их жизни – на международном,
                    региональном, национальном и местном уровне.</p>
                <p><strong>Три основные направления работы </strong><strong>ITPC EECA</strong><strong>:</strong></p>
                <ul>
                    <li><em>Мобилизация сообщества</em>: проекты, направленные на усиление и сплачивание сообщества
                        пациентов в борьбе за их право на всеобщий доступ к лечению
                    </li>
                    <li><em>Адвокация</em>: проекты, направленные на улучшение политик, стратегий, систем, моделей в
                        сфере ВИЧ и сопутствующих заболеваний.
                    </li>
                    <li><em>Обучение</em>: проекты, направленные на повышение знаний сообщества о различных аспектах
                        лечения ВИЧ и сопутствующих заболеваний. Мы прилагаем все усилия, чтобы информация была
                        максимально объективной и научно обоснованной.
                    </li>
                </ul>
                <p>Более подробно о нас говорит наша деятельность, о которой вы можете узнать в разделе Основные
                    проекты.</p>
                <h6 data-fontsize="13" style="--fontSize: 13; line-height: 1.54; --minFontSize: 13;"
                    data-lineheight="20.02px" class="fusion-responsive-typography-calculated"></h6>
                <h6 data-fontsize="13" style="--fontSize: 13; line-height: 1.54; --minFontSize: 13;"
                    data-lineheight="20.02px" class="fusion-responsive-typography-calculated"></h6>
                <h6 data-fontsize="13" style="--fontSize: 13; line-height: 1.54; --minFontSize: 13;"
                    data-lineheight="20.02px" class="fusion-responsive-typography-calculated"></h6>
                <h6 data-fontsize="13" style="--fontSize: 13; line-height: 1.54; --minFontSize: 13;"
                    data-lineheight="20.02px" class="fusion-responsive-typography-calculated"></h6>
                <h6 data-fontsize="13" style="--fontSize: 13; line-height: 1.54; --minFontSize: 13;"
                    data-lineheight="20.02px" class="fusion-responsive-typography-calculated"></h6>
                <h6 data-fontsize="13" style="--fontSize: 13; line-height: 1.54; --minFontSize: 13;"
                    data-lineheight="20.02px" class="fusion-responsive-typography-calculated"></h6>
                <h6 data-fontsize="13" style="--fontSize: 13; line-height: 1.54; --minFontSize: 13;"
                    data-lineheight="20.02px" class="fusion-responsive-typography-calculated"></h6>
                <h6 data-fontsize="13" style="--fontSize: 13; line-height: 1.54; --minFontSize: 13;"
                    data-lineheight="20.02px" class="fusion-responsive-typography-calculated"></h6>
                <h6 data-fontsize="13" style="--fontSize: 13; line-height: 1.54; --minFontSize: 13;"
                    data-lineheight="20.02px" class="fusion-responsive-typography-calculated"></h6>
                <h6 data-fontsize="13" style="--fontSize: 13; line-height: 1.54; --minFontSize: 13;"
                    data-lineheight="20.02px" class="fusion-responsive-typography-calculated"></h6>
                <h6 data-fontsize="13" style="--fontSize: 13; line-height: 1.54; --minFontSize: 13;"
                    data-lineheight="20.02px" class="fusion-responsive-typography-calculated"></h6>
                <h6 data-fontsize="13" style="--fontSize: 13; line-height: 1.54; --minFontSize: 13;"
                    data-lineheight="20.02px" class="fusion-responsive-typography-calculated"></h6>
                <h6 data-fontsize="13" style="--fontSize: 13; line-height: 1.54; --minFontSize: 13;"
                    data-lineheight="20.02px" class="fusion-responsive-typography-calculated">Международная коалиция по
                    готовности к лечению в Восточной Европе и Центральной Азии (ITPC EECA)<span
                            class="Apple-converted-space">&nbsp; </span>информирует все заинтересованные стороны о
                    полном прекращении своей деятельности в России с 01.08.2023 года, а также о полном прекращении любых
                    форм сотрудничества с нашими партнерами, экспертами и консультантами в России. Все аналитические
                    материалы и публикации по РФ по июль 2023 года включительно по прежнему доступны на нашем нашем
                    сайте www.itpc-eeca.org. Эти данные находятся в открытом доступе и могут быть использованы для
                    дальнейшего анализа и обработки любыми третьими лицами без дополнительного разрешения ITPC EECA, со
                    ссылкой на первоисточник, если такая ссылка не будет нести непосредственной угрозы использующим ее
                    третьим лицам в связи с новыми изменениями в законодательстве РФ. Любая информация, касающаяся
                    России, опубликованная на сайте после 01.08.2023 года носит исключительно информативный характер и
                    не является результатом деятельности ITPC EECA на территории РФ.</h6>
            </div>
        </div>

        <!-- Sidebar Column -->
        <div class="col-lg-4">
            <!-- Search Widget -->
            <div class="sidebar-widget">
                <h4>Поиск</h4>
                <form method="get" action="{% url 'search_news' %}" class="search-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Поиск по сайту..."
                               value="{{ request.GET.q }}">
                        <button class="btn btn-primary" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>

            <!-- Categories Widget -->
            <div class="sidebar-widget">
                <h4>Рубрики</h4>
                <ul>
                    {% for cat in categories %}
                        {% if not cat.main_project %}
                            <li><a href="{% url 'category_news' cat.slug %}">{{ cat.name }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}